<?php

/**
 * 数据库配置文件
 * Config/db.php - Dphp
 * User: lidongyun@shuwang-tech.com
 * Date: 2017/10/30
 */
return [
    'db' => 'mysql', // 数据库类型
    'host' => 'localhost', // 数据库IP、域名
    'user' => 'root', // 用户名
    'pass' => 'root', // 密码
    'db_name' => '', // 数据库名称
    'charset' => 'utf8mb4', // 字符集
    'prefix' => '', // 表前缀
    
    /** @see  https://msd.misuland.com/pd/4146263467944315126 */
    'persistent' => true, // 是否开启持久化连接以减少开销（大站高并发可取消）
];
