<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>Doyleaf PHP</title>
		<link href="assets/img/DPHP.ico" rel="shortcut icon"/>
		<!-- Bootstrap -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/index.css" rel="stylesheet" type="text/css"/>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://cdn.doylee.cn/js/html5shiv.min.js"></script>
		<script src="https://cdn.doylee.cn/js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="bg">
		<div class="container-fluid bg">
			<div class="indexBox ">
				<img class="dimg" src="assets/img/DPHP.png"/>
				<ul class="container">
					<li class="col-md-4 col-sm-4 col-xs-12">
						<a href="https://github.com/DoyleafPHP/Dphp/blob/master/README.md" target="_blank">概&emsp;&emsp;述</a>
					</li>
					<li class="col-md-4 col-sm-4 col-xs-12">
						<a href="https://blog.doylee.cn">关于我们</a>
					</li>
					<li class="col-md-4 col-sm-4 col-xs-12">
						<a href="https://github.com/DoyleafPHP/Dphp/releases" target="_blank">下&emsp;&emsp;载</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://cdn.doylee.cn/js/jquery-3.5.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript">
      $(function () {
        var w = $(window).width();
        if (w < 768) {
          $(".dimg").attr("src", "assets/img/DPHP2.png");
        }
      });
		</script>
	</body>
</html>